header {
  background: #00204a;
  padding: 35px;
  border-bottom: 10px solid rgb(201, 0, 0);
  border-radius: 2px;
}

h1 {
  font-size: 52px;

  text-align: center;
  margin: 50px;
  color: #f0f5fa;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
}

h4 {
  font-weight: bold;
}

form {
  text-align: center;
}

input {
  padding: 7px 5px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 5px 5px 15px rgba(158, 157, 157, 0.1);
  color: #333;
}

footer {
  margin: 50px;
  font-size: 12px;
  text-align: center;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.Dictionary {
  padding-top: 30px;
}

.Dictionary section {
  padding: 10px;
  background-color: #f7f7f7;

  border-radius: 4px;
  box-shadow: 0 0 15px rgba(158, 157, 157, 0.4);
  margin: 20px 0;
  padding: 20px 60px;
}

.text-field {
  width: 50%;
}

.search-button {
  width: 20%;
  background: #f7f7f7;
}

.hint {
  color: #333;
  font-size: 11px;
  margin-left: 15%;
  margin-bottom: 30px;
}
.hint strong {
  font-weight: 600;
}

.phonetics-spelling {
  font-style: italic;
  margin-left: 5px;
  padding: 10px;
  font-size: 16px;
}

.example {
  font-style: italic;
  color: #70757a;
  font-size: 15px;
}

.Synonyms {
  margin-top: 20px;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding-right: 10px;
  font-size: 13px;
}
