h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.Dictionary {
  padding-top: 30px;
}

.Dictionary section {
  padding: 10px;
  background-color: #f7f7f7;

  border-radius: 4px;
  box-shadow: 0 0 15px rgba(158, 157, 157, 0.4);
  margin: 15px 0;
}

form {
  text-align: center;
}

input {
  padding: 7px 5px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 5px 5px 15px rgba(158, 157, 157, 0.1);
  color: #333;
}

.text-field {
  width: 50%;
}

.search-button {
  width: 20%;
  background: #f7f7f7;
}

.hint {
  color: #333;
  font-size: 11px;
  margin-left: 15%;
  margin-bottom: 20px;
}
.hint strong {
  font-weight: 600;
}
